{% extends 'base.html' %}

{% block title %}Hop List{% endblock title %}

{% block content %}
    <h2>Hop List</h2>

    <div class="container mt-1">

		<ul class="list-group">
			{% for hop in object_list %}
    		<li class="list-group-item d-flex justify-content-between align-items-center mb-1">
                <a href="{{ hop.get_absolute_url }}">
                    {{ hop }}
                </a>
                {{ hop.brewed_beers.count }}
    		</li>
    	{% endfor %}
		</ul>
	</div>
{% endblock content %}