{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
      {% if object.bio %}
        <p>{{ object.bio|linebreaksbr }}</p>
      {% endif %}
    </div>
  </div>
    <ul>
  {% for beer in connect %}
    <li><a href="{{ beer.get_absolute_url }}">{{ beer }}</a></li>
  {% endfor %}
  </ul>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>

<p>Welcome {{ user }}.</p>
    {% if not total_count %}
        <h3>You added no beer yet. Just do it!</h3>
    {% else %}
        <h3>You added {{ total_count }} beers with total score {{ total_score }}.</h3>
    {% endif %}
    <div class="row">
        {% for beer in user_beers %}
            <div class="card col-sm-6">
                <!--<img src="{{beer.image.url}}" class="card-img-top" alt="{{ beer }}">-->
                <div class="card-body">
                    {% if beer.version %}
                        <h5 class="card-title"><a href="{{ beer.get_absolute_url }}">{{ beer.title_for_render }} - {{ beer.version }}</a> <span class="badge badge-secondary">Total score: {{ beer.score }}</span></h5>
                    {% else %}
                        <h5 class="card-title"><a href="{{ beer.get_absolute_url }}">{{ beer.title_for_render }}</a> <span class="badge badge-secondary">Total score: {{ beer.score }}</span></h5>
                    {% endif %}   
                    {{ beer.brewery }}
                    <div class="row mb-1">
                        <div class="col-sm-2">OG: <span class="font-weight-bold">{{ beer.og }}%</span></div>
                        <div class="col-sm-2">ABV: <span class="font-weight-bold">{{ beer.abv }}%</span></div>
                        <div class="col-sm-2">IBU: <span class="font-weight-bold">{{ beer.ibu }}</span></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}

